{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- overlay to cover-up the background image -->
    <div class="overlay"></div>
    <!-- container instead of a container fluid -->
    <div class="container mb-2">
        <!-- first row contains the shopping bag heading, between a couple of horizontal rules -->
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <!-- the column contain a table to show the bag contents -->
            <div class="col">
                {% if bag_items %}
                    <!-- If there are items in the bag, we'll render this table -->
                    <div class="table-responsive rounded">
                        <!-- render out the bag items -->
                        {{ bag_items }}
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}