{% extends "base.html" %}
{% load static %}

<!-- get access to calc_subtotal() filter in bag/templatetags/bag_tools.py -->
{% load bag_tools %}

<!-- include a separate CSS file just for the checkout app -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

        <!-- order summary -->
        <div class="row">
            <!-- order-lg-last class makes it shows up on the right on larger screens -->
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <p class="text-muted">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                <!-- as we have access to all the bagged items thanks to our context processor we can iterate over-->
                {% for item in bag_items %}
                <!-- loop through each item creating a row with the -->
                    <div class="row">
                        <!-- the image of the product -->
                        <div class="col-2 mb-1">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    <!-- to make the MEDIA_URL template tag work 
                                        we included the media context processor in TEMPLATES in settings.py  -->
                                {% endif %}
                            </a>
                        </div>
                        <!-- the information about the product -->
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <!-- the subtotal of the product price -->
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <!-- margin-less horizontal rule -->
                <hr class="my-0">
                <!-- the summary row -->
                <div class="row text-black text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0">${{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- a paragraph giving users instructions to fill out the form -->
                <p class="text-muted">Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <!-- to make the UI stand out we render the fields individually and divide them into three fieldsets -->
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        <!-- To render the field access the form, call it by name 
                            and type it into; use a filter as_crispy_field template tag 
                            to take advantage of all the crispy form styling -->
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
                            <!-- include an inline checkbox for allowing
                            authenticated users to save the information in the form to their profile.
                            If they're not authenticated we'll give them a link to signup or login -->
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- we do need two empty divs in this fieldset to hold the stripe elements -->
                        <!-- A Stripe card-element will go here -->
                        <div class="mb-3" id="card-element">
                            <!-- card-element contain fields necessary for filling in 
                                like the users credit card number, expiration date, security code, and postal code 
                                pre-built and secure thanks to stripe -->
                        </div>

                        <!-- card-errors element used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <div class="submit-button text-right mt-5 mb-2">                    
						<!-- link back to the shopping bag in case the user wants to adjust anything in their order -->
                        <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
                        <!-- submit button has an id which we'll access with JavaScript in order to submit the form -->
						<button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
                        <!-- notification alerting the user that their card is about to be charged -->
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <!-- create a loading-overlay div with a giant spinner icon in the center of the screen
    and a transparent blue overlay to cover up the page and indicate that the payment is being processed.
    CSS for this in checkout.css -->
    <!-- this element is trigged by js from stripe_elements.js -->
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

<!-- open up a postloadjs block -->
{% block postloadjs %}
    {{ block.super }}

<!-- Since we can't render Django template variables in external javascript files
    we need to use a built-in template filter called json_script to render them here. 
    And then we can access them in the external file. -->
    <!-- we send stripe_public_key and client_secret template variables back from the view and render here -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

    <!-- ?!! use client_secret to call confirmCardPayment() from stripe js and verify the card -->

{% endblock %}
