{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- the context from all_products view have a template variable called products -->
                {{ products }}
            </div>
        </div>
    </div>
{% endblock %}